Enter EmailId:   <input type="text" name="emailId"   [(ngModel)]="emailId"   /> <br/>
Enter Password: <input type="password" name="password" [(ngModel)]="password" /><br/><br/>

<button (click) = "Submit()">Click Me!</button><br/><br/>


EmailId  : {{emailId}}<br/>
Password : {{password}}<br/>